.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field label {
  font-size: 17px;
  line-height: 21px;
  color: var(--c-4-c-4-c-4);
}

.field:last-of-type {
  margin-bottom: 54px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links div {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-secondary-color);
}

.links a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
  color: var(--primary-color);
}

.error {
  padding: 15px;
  font-weight: 500;
  color: white;
  background: #ff2929;
}