.input {
  display: block;
  width: 324px;
  height: 65px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--c-4-c-4-c-4);
  border: none;
  border: 1px solid #EEE;
  border-radius: 10px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
}

.input:focus {
  outline: none;
  border-color: var(--c-4-c-4-c-4);
}

.input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: var(--c-4-c-4-c-4);
}

.invalid {
  border-color: red;
  color: red;
}
