.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.success-text {
  font-size: 31px;
  font-style: normal;
  font-weight: 300;
  color: var(--text-color);
  line-height: 38px;
}