.input-wrapper {
  position: relative;
}

.input {
  display: block;
  width: 210px;
  height: 51px;
  margin: 0;
  padding: 0;
  padding-left: 44px;
  font-size: 14px;
  line-height: 18px;
  color: var(--c-4-c-4-c-4);
  background-color: #FCFCFD;
  border: none;
  border-radius: 10px;
  border: 1px solid #EFEFEF;
  border-radius: 10px;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
}

.search {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}